<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:replace="fragments :: head"></head>
<body>
    <div class="container-fluid">
    <nav th:replace="fragments :: header"></nav>
    <div style="margin:5%">
        <h1 style="margin-bottom: 4%" th:text="#{msg.addedExercise}"> :</h1>
        <br col-md-8>
        Muscle group : <span th:text="${exercise.muscleGroup}"></span></br>
        Exercise name : <span th:text="${exercise.exerciseName}"></span></br>
        Number of repetitions : <span th:text="*{exercise.numberOfReps != null}? *{exercise.numberOfReps} : 'Until failure'"></span></br>
        Weight :  <span th:text="*{exercise.weight != null}? *{exercise.weight} : 'Weightless exercise'"></span></br>
        Description :  <span th:text="${exercise.description}"></span>
    </div>
    <a style="margin: 3%" sec:authorize="hasRole('ADMIN')" class="col-md-3 btn btn-primary" th:href="@{/exercise/new}" th:text="#{msg.addedNewExercise}">Add new exercise</a>
    </div>
    <div th:replace="fragments :: js"></div>
</body>
</html>