<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments :: head" ></head>
<body>
    <div class="container-fluid">
        <nav th:replace="fragments :: header"></nav>
        <h3 style="margin-top:5%; margin-left: 6% ">Login</h3>
        <div th:if="${param.error}" class="login-error">Unable to login. Check your username and password.</div>
        <div th:if="${param.logout}" class="login-success">You have successfully logged out.</div>
        <form method="post" style="margin: 5%" th:action="@{/login}">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="username">Username: </label>
                    <input id="username" type="text" name="username" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="password">Password: </label>
                    <input id="password" type="password" name="password" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <input type="submit" value="Login" class="form-control btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
